<p>
  <strong>Title:</strong>
  <%= @update.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @update.text %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
